.browse-packs-container {
  /*background-color: #565858;*/
  background-image: url("res://tpbg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 5% 5% 5% 10% ;
}

.pack-container {
    padding: 10% 0% 0% 0% ;
}

.pack-label {
    font-size: 14;
    font-weight: 400;
    font-family: 'conthrax-sb';
    color: gold;
    width: 200;
    padding: 5px 0px 0px 0px;
    text-align: center;
}

.pack-label .totalItems {
    font-size: 14;
    font-weight: 400;
    font-family: 'conthrax-sb';
    color: snow;
    width: 200;
    text-align: center;
}

.pack-desc {
    font-size: 12;
    font-weight: 400;
    font-family: 'conthrax-sb';
    color: snow;
    padding: 0px 0px 0px 5px;
    text-align: left;
    vertical-align: top;
}

.buy-btn {
    width: 80%;
    height: 60%;
}

.price {
    font-size: 14;
    font-weight: 400;
    font-family: 'conthrax-sb';
    color: snow;
    width: 200;
    text-align: center;
}

.selected-packType {
    font-size: 14;
    font-weight: 400;
    font-family: 'conthrax-sb';
    color: gold;
    width: 200;
    text-align: left;
    padding: 5% 0% 0% 0%;
}

.selected-packType-prefix {
    font-size: 14;
    font-weight: 400;
    font-family: 'conthrax-sb';
    color: snow;
    width: 200;
    text-align: right;
    padding: 5% 0% 0% 0%;
}