<side-drawer>
    <StackLayout class="browse-packs-container">
        <GridLayout columns="5, 125, 125, 5, *" 
                rows="75, 125, 125, 125, 75, *" 
                width="auto"
                height="auto">
        
            <StackLayout row="0" col="1" colSpan="2" class="pack-label">
                <label text="SOBRE PREMIUM"></label>
                <label class="totalItems" text="11 TARJETAS"></label>  
            </StackLayout> 

            <StackLayout row="1" col="1" colSpan="2" class="pack-desc">
                <TextView text="contiene 11 articulos, entre ellos comunes y almenos 3 raros entre jugadores y articulos para tu club"></TextView>
            </StackLayout>

            <StackLayout row="2" col="1" style="border-width:1;border-color: aqua;">
                <img src="res://gold11pack" width="125" height="125"/>
            </StackLayout>

            <StackLayout row="2" col="2" style="border-width:1;border-color: aqua;">
                <img src="res://gold11pack" width="125" height="125"/>
            </StackLayout>

        </GridLayout>
    </StackLayout>
</side-drawer>