button {
    font-size: 36;
}
action-bar {
  background-color: #424242;
  color: snow;
  font-family: 'proximanova-reg' !important;
  font-weight: 600;
}
.menu-icon {
  margin-left: 20;
}
.body {
  background-image: url("res://tpbg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
}
.ic-menu{
  width: 50px;
  height: 50px;
}

.fa {
  font-family: 'FontAwesome';
  font-size: 18;
  color: lawngreen;
  padding-left: 20px;
}

.hr {
  border-width: 1;
  border-color: #d6d6d6;
}

.continue-btn {
    font-size: 14;
    font-weight: bold;
    font-family: 'conthrax-sb';
    color: snow;
    background-color: #94c949;
    border-radius: 0 !important;
    width: 200;
}

.credentials {
    font-size: 12;
    font-weight: 400;
    font-family: 'conthrax-sb';
    color: snow;
    width: 200;
}

.upperCase {
  font-size: 14;
  font-weight: 600;
  font-family: 'conthrax-sb';
  color: snow !important;
  width: 200;
}