<side-drawer>
    <StackLayout style="width:100%;height:80%;">
        <!-- top bar -->
        <StackLayout class="top-bar">
            <label [text]="teamInfo.name"></label>
            <label [text]="teamInfo.abbreviation"></label>
            <img [src]="teamInfo.badge.imgUrl" width="25" height="25"/> 
        </StackLayout>

        <!-- metrics -->
        <StackLayout class="metrics">
            <label text="metrics"></label>
        </StackLayout>

        <StackLayout class="info">
            <GridLayout columns="175, 175" 
                        rows="125" 
                        style="border-width:0;border-color: aqua;">
                
                    <StackLayout row="0" col="0" style="border-width:0;border-color: aqua; margin-right: 5;">
                        <label text="info1"></label>
                    </StackLayout>

                    <StackLayout row="0" col="1" style="border-width:0;border-color: aqua; margin-left: 5;">
                        <label text="info2"></label>
                    </StackLayout>
                
            </GridLayout>
        </StackLayout>
    </StackLayout>
</side-drawer>
<StackLayout orientation="vertical" modal-dialog-host>
</StackLayout>